{% extends "entries/base.html" %}

{% block content %}
<!-- Page Content -->

          <div class="col-md-8">

                <div class="card mb-4 mt-4">
                    <div class="card-body">
                      <h3 class="card-title">{{ object.entry_title }}</h3>
                      <p class="card-text">{{ object.entry_text }}</p>
                    </div>
                    <div class="card-footer text-muted">
                      <small>Posted on  {{ object.entry_date }}</small> by
                      <span class = "text-info mr-2">{{ object.entry_author }}</span>
                    </div>

                    <ul class="pagination justify-content-center mb-4">
                      <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1">&larr; Previous</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next &rarr;</a>
                      </li>
                    </ul>
                </div>

          </div>
  {% endblock %}
