{% extends "entries/base.html" %}

{% block content %}
<!-- Page Content -->

          <div class="col-md-8">
                <a href="{% url 'blog-home' %}">Back to Home</a>
                <div class="card mb-4 mt-4">
                    <div class="card-body">
                      <h3 class="card-title">{{ object.entry_title }}</h3>
                      <p class="card-text">{{ object.entry_text | linebreaks }}</p>
                    </div>
                    <div class="card-footer text-muted">
                      <small>Posted on  {{ object.entry_date }}</small> by
                      <span class = "text-info mr-2">{{ object.entry_author }}</span>
                    </div>
                </div>

          </div>
  {% endblock %}
